nav {
  background: #FEFEFE;
  height: 80px;
  width: 100%;
  -webkit-box-shadow: 0 4px 2px -2px #ABABAB;
          box-shadow: 0 4px 2px -2px #ABABAB; }

nav * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.logo {
  width: 55px;
  margin-left: 150px;
  margin-top: 15px; }

.btn-en {
  width: 30px; }

nav ul {
  float: right;
  margin-right: 20px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  font-family: 'Raleway', sans-serif; }

nav ul li a {
  color: #414141;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px; }

a:hover, a.active {
  background: none;
  color: #BA7768; }

.contact {
  cursor: pointer; }

.checkbtn {
  font-size: 30px;
  color: #414141;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

@media (max-width: 1110px) {
  .logo {
    width: 55px;
    margin-left: 60px;
    margin-top: 15px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 1000px) {
  .checkbtn {
    display: block; }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FEFEFE;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s; }
  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px; }
  nav ul li a {
    font-size: 20px; }
  a:hover, a.active {
    background: none;
    color: #BA7768; }
  #check:checked ~ ul {
    left: 0; } }

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px); }

.banner-div {
  width: 100%;
  overflow: hidden; }

.banner {
  width: 100%; }

@media (min-width: 1165px) {
  .banner-div {
    width: 100%;
    height: 100%;
    overflow: hidden; } }

@media (max-width: 1165px) {
  .banner-div {
    width: 100%;
    height: 400px;
    overflow: hidden; } }

@media (max-width: 936px) {
  .banner-div {
    width: 100%;
    height: 300px;
    overflow: hidden; } }

@media (max-width: 715px) {
  .banner-div {
    width: 100%;
    height: 200px;
    overflow: hidden; } }

@media (max-width: 410px) {
  .banner-div {
    width: 100%;
    height: 150px;
    overflow: hidden; } }

body {
  margin: 0;
  padding: 0; }

.main {
  max-height: 550px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px; }

.logo-footer {
  width: 220px;
  margin-left: 8%; }

footer {
  bottom: 0; }

.footer-distributed {
  background-color: #242A2C;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

.footer-distributed .footer-left {
  width: 40%; }

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: #5383d3; }

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none; }

.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; }
  .main {
    line-height: normal;
    font-size: auto; }
  .logo-footer {
    width: 180px; } }

html {
  scroll-behavior: smooth; }

.content {
  min-height: calc(100vh - 70px); }

body {
  background-color: #FEFEFE;
  margin: 0; }

a {
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }

.content p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #414141; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  text-align: center;
  color: #414141;
  padding-top: 50px;
  padding-bottom: 30px; }

.body {
  margin-right: 15%;
  margin-left: 15%; }

ul {
  font-family: 'Raleway', sans-serif;
  color: #BA7768;
  font-size: 26px; }

@media (max-width: 420px) {
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #414141;
    padding-top: 25px;
    padding-bottom: 15px; }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #414141; }
  ul {
    font-family: 'Raleway', sans-serif;
    color: #BA7768;
    font-size: 16px; }
  .body {
    margin-right: 8%;
    margin-left: 8%; } }
