<h1> J’ACHÈTE DES LIVRES EN LOT OU À L’UNITÉ</h1>


<p>Si vous souhaitez vendre des livres, il vous suffit de m’écrire, en joignant les informations essentielles : auteur, titre, éditeur, année de parution.

J’achète essentiellement des livres en français.
Les livres en langue étrangère sont aussi achetés, dans des volumes plus restreints.

Le moyen le plus simple et efficace pour obtenir une proposition d’achat est de m’adresser des photos. Photographiez simplement les livres sur vos étagères, par groupes de 15 à 25 au maximum, de sorte que les informations au dos soient bien lisibles. (photo exemple)

Sans engagement de votre part, une estimation vous sera proposée sans délai.
Si l’estimation vous convient, nous prendrons rendez-vous afin que j’examine les ouvrages.
La vente vous sera alors réglée par chèque, apres rédaction d’un formulaire de cession où devra figurer votre identité.

Je me déplace en Ile de France et les départements limitrophes.
Autres régions sur demande.
</p>


<h1>LES LIVRES QUE J’ACHÈTE</h1>

<p> - Ouvrages d’histoire de l’art

Catalogues d’expositions temporaires, monographies, écrits et correspondances, essais d’histoire et d’esthétique, catalogues raisonnés, fac-similés, livres d’artistes, etc.

Exemples d’éditeurs : Musées Nationaux, Seuil, Gallimard, Hazan, Somogy, Arthéna, Hermann, Kincksieck, Snoeck, Thames&Hudson, Phaidon, Schirmer Mosel, etc.

Uniquement des ouvrages en tres bon état, sans notes ni défauts.


- Livres universitaires
Essais en sciences humaines : philosophie, histoire, sociologie et sciences sociales, anthropologie, littérature comparée, psychologie, psychiatrie et psychanalyse, spiritualité (études bibliques, bouddhisme, ésotérisme, franc-maçonnerie)

Exemples d’éditeurs : Presses Universitaires, Payot, Dunod, Belin, Cerf, Desclée de Brouwer, etc.

- Romans graphiques, bande dessinée
- La littérature de fiction
Éditions originales publiées avant 1970, romans du domaine étranger en première édition et traduction française.
</p>

<h1>LES LIVRES QUE JE N’ACHÈTE PAS</h1>

<p>Les livres que je n’ai pas vus au préalable
Les livres en mauvais état
Les livres réformés de bibliothèque
Les périodiques (magazines, revues)
Les encyclopédies et dictionnaires
Les livres scolaires, de cuisine, bien être, la littérature jeunesse
Les livres de poche, romans de collections type «Club» (France Loisirs, Reader's Digest)
</p>
