<p>- Recherches bibliographiques : confiez-moi vos recherches de livres rares.
- Expertise de bibliothèques entrant dans mon champ de compétences.
- Référencement et la commercialisation en ligne de livres inconnus des catalogues (publications à compte d’auteur, petits tirages rares, etc.)
</p>
