(PHOTO)

<p> J’ai créé la librairie Sources Esthétiques en 2010 apres 20 ans d’activité libérale en photographie.

Bio

Baccalauréat C, 1985

Université de Provence 1989,  Maitrise métiers de l’image et du son, option photographie,

ENSBA Paris : Cours de Bruno Foucart, Didier Semin, Jean-François Chevrier, Christian Gaillard. (histoire générale de l’art, art moderne ; histoire de la photographie, esthétique et théories de l’art ; psychanalyse de l’art)

1990-2010 Prestations de service en photographie d’architecture, illustration de publications d’entreprise.
Activité artistique : expositions personnelles et collectives

Langues parlées : anglais, russe
</p>
